.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2) */
    box-shadow: rgba(5, 0, 0, 1.35) 0px 5px 15px;
    background-image: linear-gradient(45deg,#2f4680,#a17eed);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;

}
.search-bar input{
    height:50px;
    border-radius: 40px;
    outline: none ;
    border: none;
    padding-left:25px;
    color:#626262 ;
    background: #EBFFFC;
    font-size: 18px;
}

.search-bar  img{
    width: 10px;
    padding: 15px;
    border-radius: 50%;
    background: #EBFFFC;
    cursor: pointer;
}

.weather-icon{
    width:150px;
    margin: 30px 0px;
}
.temp{
    color: white;
    font-size: 80px;
    line-height: 1;

}

.city{
    color: white;
    font-size: 40px;
}
.weather-data{
    width: 100% ;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 12px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;

}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
.weather-data .col p{
    font-size: large;
}